/* common css */
.tech-bg{
    background-color: #f7c309;
}



body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    

}
/* header  */
#home .carousel-item img{
    height: 100vh;    
}
.carousel-caption {
      background-color: rgba(0,0,0,0.8);
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
}
/* footer  */
footer a{
    color: white;
    text-decoration: none;
    margin: 5px;

}
  
